<!--
  Generated template for the ProductList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>  
  <ion-navbar color="primary">
	  <button ion-button menuToggle>
	    <ion-icon name="menu"></ion-icon>
	  </button>
	  <ion-title>Shop</ion-title>
	  <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="goProductSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content style="position: relative">
	<ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]="90">
    <ion-refresher-content
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="spinner main" *ngIf="showSpinner">
    <ion-spinner></ion-spinner>
  </div>
        
  

  <ion-grid>
  <ion-row wrap>
    <ion-col width-50  *ngFor="let product of products" >

    <ion-card class="margin" text-center
      (click)="goProductDetails(product.id)">
      <ion-img [src]="product?.images.data[0].url"></ion-img>
      <div class="spinner">
        <ion-spinner></ion-spinner>
      </div> 
      <ion-card-content text-left>
        <ion-card-title>
          R$ {{product.price}}
        </ion-card-title>
        <p>
          {{product.id}} {{product.name}}
        </p>
      </ion-card-content>
    </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
 <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>


</ion-content>
