<!--
  Generated template for the ProductList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>  
  <ion-navbar color="primary">
	  <button ion-button menuToggle>
	    <ion-icon name="menu"></ion-icon>
	  </button>
	  <ion-title>Produtos</ion-title>
	  <ion-buttons start>
      <button ion-button icon-only color="royal"  (click)="goUsersSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-spinner class="main" *ngIf="showSpinner"></ion-spinner>
  <ion-list>
    <button ion-item *ngFor="let user of users" (press)="presentActionSheet()" (click)="goUsersDetails(user.login)">
      <ion-avatar item-left>
        <ion-img [src]="user.avatar_url"></ion-img>
        <ion-spinner></ion-spinner>
      </ion-avatar>
      <h2>{{ user.login }} </h2>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
