page-product-search {
	.searchbar-input{
		background : transparent !important;
		box-shadow : none !important;
		padding    : 0 !important;
	}

	.searchbar-search-icon{
		display    : none;
	}

	div.spinner{
  		height     : 30px;
  		text-align : left;
	}

	ion-img.img-unloaded{
		background : transparent !important;
	}

	div.spinner{
  		height     : 100vh;
	}
}
